<div class="center hero-unit">
  <h2>Welcome to our API Development hub</h2>

  <h3>
    Here at Redtail Technology, we are excited to release our Public API so that we can better serve our mutual customers. For those that haven't already received their credentials' package, we invite you to click the button below to fill out a short request form. We look forward to working with you.

  </h3>
  <br>
  <%= link_to "Register!", signup_path, class: "btn btn-large btn-primary" %>
</div>

